/*
  Site Name: 
  Author: Morgan Segura
  Stylesheet: Base
*/

@import "partials/_reset.scss"; 
@import "partials/_variables.scss";
@import "partials/_typography.scss";
@import "partials/rem.scss";
@import "partials/_functions.scss";
@import "partials/_mixins.scss";
@import "partials/_flex.scss";
@import "modules/_buttons.scss";


// Defaults
body {
  position: relative;
  background-color: #fff;
}

ul,
nav {
	list-style: none;
}

a, button {
  @include transition(all .3s ease-in-out);
  text-decoration: none;
}

h3 {
  font: 700 rem(22px) $serif;
  text-transform: uppercase;
  margin-bottom: rem(25px);  
}

h4 {
  font-family: $alternate;
  font-size: rem(15px);
  text-transform: uppercase;
  padding-bottom: rem(40px);
}

p {
  font: 400 rem(14px) $sans-serif;
  line-height: 1.7;
}
span.break {
  display: block;
}
.light {
  color: $text;
  a {
    color: $teil;

    &:hover, 
    &:active {
      color: $blue;
    }
  }  
}

.dark {
  color: $white;
  a {
    color: white(.8);

    &:hover, 
    &:active {
      color: $white;
    }
  } 
}

hr {
  max-width: rem(50px);
  border: none;
  height: 2px;
  background-color: white(.5);
}

// Basic Elements

section {
	@include flexbox();
  //@include flex-direction(column);
	@include align-items(center);
}

footer {

}

// Container 

.container {
  position: relative;
  max-width: rem(960px);
  width: 100%;
  margin: 0 auto;
}

// Header Section

.header {
	position: absolute;
	width: 100%;
	@include flexbox();
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	@include align-items(center);
	padding: rem(35px) 0 0;
	@include animation(1s fadein 0.5s forwards);
	@include opacity(0);
  z-index: 1;
  h2 {
    padding-bottom: rem(30px);
    .logo {
      position: relative;
      top: rem(25px);
    }
    font-family: $sans-thin;
    font-size: rem(30px);
    @include text-gradient(right, #00e0d0, #4aa3cc);
    a {
      text-decoration: none;
      color: $white;
    }
  }
  nav {
    @include flexbox();
    margin-right: rem(-15px);

    li {
      margin: 0 rem(15px);
      font-family: $alternate;
      font-size: rem(13px);
      @include justify-content(space-between);
    }
    li > a {
      color: white(.8);
      text-decoration: none;
      text-transform: uppercase;

      &:hover, 
      &:active {
        color: white(1);
      }
    }
  }
}

// Hero Section

.hero {
	position: relative;
	@include justify-content(center);
	text-align: center;
	min-height: 100vh;

  .background-image {   
    background: url('//static.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg');
  }
  h1 {
    font: 400 rem(32px) $serif;
    margin-bottom: rem(25px);
  }  
  h3 {
    font: 400 rem(14px) $sans-serif;
    text-transform: none;
    margin-top: rem(25px);
    margin-bottom: rem(50px);
    line-height: 1.7;
  }
  a.btn-outline {
    color: $teil;
  }
  .hero-content-area {
    @include opacity(0);
    margin-top: rem(180px);
    @include animation(1s slidefade 1s forwards);
  }
  hr {
    background-color: $teil;
  }
}

// About Section

.about {
  @include flexbox();
  @include justify-content(space-between);
  padding: rem(65px) 0;
  .about-content-area {

  }
  h3 {
    color: $headline;
  }
  p {
    padding-bottom: rem(30px);
    @include flex-wrap(wrap);
  }
  .icon {

  }
}

// Footer Section
footer {
  font-family: $sans-serif;
  font-size: rem(14px);
  position: relative;
  .footer-flex {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-around);

  }
  .footer {
    padding: rem(65px) 0;

    .contact-info {
      //@include align-self(stretch);
      i {
        font-size: rem(20px);
      }
      p {
        padding-left: rem(25px);
        margin-top: rem(-25px);  
        margin-bottom: rem(20px);  
      }
    }

    .logo {
      @include flexbox();
      @include justify-content(flex-start);
      //@include align-items(center);
      font-family: $sans-thin;
      font-size: rem(30px);
      @include text-gradient(right, #00e0d0, #4aa3cc);
      margin-top: rem(-15px);
      margin-bottom: rem(20px);
      span {
        margin-top: rem(-10px);
      }
      a {
        text-decoration: none;
        color: $white;
        padding-left: 5px;
      }        
    }
  }
  .media-block {
    margin-top: rem(25px);
    a {
      border: 1px solid white(.6);
      color: white(.6);
      padding: rem(5px);
      @include border-radius(100%);
      margin-right: rem(5px);
      i {
        width: rem(20px);
        height: rem(20px);
        text-align: center;
      }
      &:hover,
      &:active {
        color: $white;
        border: 1px solid $white;
      }
    }
  }

  .background-image {  
    background: url('//static.pexels.com/photos/373076/pexels-photo-373076.jpeg');
    background-size: cover;
  }

  form {
    @include input-color(white(.8));

    input {
      font-family: $sans-serif;
      position: relative;
      top: rem(-4px);
      font-size: rem(14px);
      color: white;
      border: 1px solid white(.5);
      background-color: transparent;
      padding: 15px;
      &:focus {
        border-color: $white;
        background-color: white(.3);
        outline: white(.8);
      }
    }
    button {
      color: $violet;
      cursor: pointer;
      background-color: white(.5);
      padding: rem(11px) rem(24px) rem(10px) rem(20px);
      margin-left: rem(5px);
      margin-top: rem(5px);
      border: none;
      text-align: center;
      font-size: rem(24px);

      &:focus {
        outline: white(.8);
      }

      &:hover,
      &:active {
        background-color: white(.8);
      }
    }
  }
  .copyright {
    @include flexbox();
    @include justify-content(space-between);
    z-index: 1;
    margin-top: rem(65px);    
    .links {
      text-transform: uppercase;      
      font-family: $sans-serif;
      a {
        margin-right: rem(30px);
        font-size: rem(14px);
      }
    }
  }
}


// Background Image
.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;    
  background-size: cover;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( to right, $violet, $purple);
    @include opacity(.8); 
  }
}

// Animations

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@import "partials/_media-queries.scss";